.slider { height: 100%; text-align: center }
.scroll { height: 100% }

/*.center{*/
    /*text-align:center;*/
/*}*/

.center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
    text-align:center;
}

.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon_custom {
    font-size:70px;
    /*padding:10px;*/
}

.icon_delete {
    font-size: 30px;
}

.position-abs-btn {
    position: absolute;
    bottom:0;
    right:0;
    margin:30px;
    z-index: 9999999;
}

.flightStyle{
    width:100%;
}

.padding-bottom-custom {
    padding-bottom:5px;
}